/* ПЕРВЫЙ ЭКРАН */
.firstscreen-flexbox {
  justify-content: space-between;
  display: flex;
  overflow: hidden;
  margin-top: 115px;
}
.text-firstscreen {
  color: #fff9e1;
  font-family: "Kosugi";
  font-size: 0.66vw;
}
.november {
  margin-top: 512px;
  margin-left: 320px;
}
.maria-p {
  margin-top: 160px;
  margin-left: 4px;
}
.tickets {
  margin-left: 218px;
  margin-top: 81px;
}
.t-05 {
  color: #fff9e1;
  font-family: "Kosugi";
  font-size: 1.9vw;
  margin-top: -507px;
  margin-left: 642px;
}
.fest {
  margin-top: 500px;
  margin-left: 574px;
}
.text-firstcreen-main {
  color: #fff9e1;
  font-family: "Kosugi";
  font-size: 1.85vw;
}
.festival-asteroid {
  margin-top: 338px;
  margin-left: 374px;
}
.flex-box-1 {
  width: 38%;
  height: 853px;
  align-self: center;
}
.N {
  width: 1920px;
  height: 910px;
  background-image: url(../images/inter:1:for-animation.png);
}
.go {
  animation: go 2s steps(1) infinite;
}
.path {
  width: 68px;
  height: 68px;
  position: relative;
  top: 0;
  animation: path 4s linear infinite;
}
@keyframes path {
  0% {
    left: -68px;
    top: 0;
  }
  48% {
    left: 48%;
    top: 0;
  }
  50% {
    left: 50%;
    top: 0px;
  }
  52% {
    left: 52%;
    top: 0;
  }
  100% {
    left: 100%;
    top: 0;
  }
}
@keyframes go {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: 0 -910px;
  }
  40% {
    background-position: 0 -1820px;
  }
  60% {
    background-position: 0 -2730px;
  }
  80% {
    background-position: 0 -3640px;
  }
  100% {
    background-position: 0 -4550px;
  }
}
.jupiter,
.mars {
  color: #fff9e1;
  font-family: "Kosugi";
  font-size: 1.85vw;
}
.jupiter {
  margin-top: -173px;
  margin-left: -15px;
}
.mars {
  margin-top: 6px;
  margin-left: 270px;
}
.flex-box-1-2 {
  width: 343px;
  height: 76px;
  align-self: center;
}
.flex-box-1-3 {
  width: 38%;
  height: 853px;
  align-self: center;
}
.astrofest {
  background-image: url(../images/астрофест.svg);
  width: 122px;
  height: 24px;
  margin-top: 501px;
  margin-left: 574px;
}
.a05 {
  background-image: url(../images/05.svg);
  width: 51px;
  height: 30px;
  margin-top: -505px;
  margin-left: 645px;
}
.festival-asteroiov {
  background-image: url(../images/ФЕСТИВАЛЬ\ АСТЕРОИДОВ.svg);
  width: 350px;
  height: 73px;
  margin-top: 336px;
  margin-left: 340px;
}
.lines {
  position: relative;
}
.line-g-3 {
  border-top: 3px dashed #fff9e1;
}
.line-g-2 {
  border-top: 3px dashed #fff9e1;
  margin-top: 462px;
}
.line-g-1 {
  border-top: 3px dashed #fff9e1;
  margin-top: -897px;
}
.line-g-4 {
  border-top: 3px dashed #fff9e1;
  margin-top: 533px;
}
.line-v {
  height: 1084px;
  border-left: 3px dashed #fff9e1;
  margin-left: 958px;
  margin-top: -1083px;
}
/* ВТОРОЙ ЭКРАН */
.flex-box-2-1 {
  width: 700px;
  height: 451px;
  background-color: blue;
  padding-top: 120px;
  padding-left: 260px;
}
.flex-box-2-2 {
  width: 960px;
  height: 1052px;
  background-color: chartreuse;
}
.rock-secondscreen {
  background-image: url(../images/rock-2screen.svg);
  width: 406px;
  height: 398px;
}
.flex-box-2-3 {
  width: 960px;
  height: 481px;
  background-color: red;
}
.inline {
  display: block;
}
.text-secondscreen {
  color: #fff9e1;
  font-family: "Kosugi";
  font-size: 2.7vw;
  position: absolute;
  margin-top: 60px;
  margin-left: 96px;
}
/* ТРЕТИЙ ЭКРАН */
.third-screen-block {
  width: 100%;
  height: 1080px;
  background-color: #fff9e1;
}
/* ЧЕТВЕРТЫЙ ЭКРАН */
.fourth-screen-text {
  font-family: "Monocraft";
  color: #fff9e1;
  font-size: 2.5vw;
}
.fourth-t-1 {
  margin-top: 94px;
  margin-left: 130px;
}
.fourth-t-2 {
  margin-top: -97px;
  margin-left: 623px;
}
.fourth-t-3 {
  margin-top: -107px;
  margin-left: 1112px;
}
.fourth-t-4 {
  margin-top: -100px;
  margin-left: 1610px;
}
.row p {
  font-size: 2.7vw;
  width: 200%;
  font-family: "Monocraft";
  color: #696969;
}
.container-row {
  padding-top: 1.6vw;

  height: 5vw;
  width: 100%;
  position: relative;
}
.row {
  position: absolute;
  animation: row 6s linear infinite;
}
.row:hover {
  animation-play-state: paused;
}
@keyframes row {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
