.a {
  width: 800px;
  height: 800px;
  background-image: url(../images/a-800.png);
  animation: astro 3s steps(1) infinite;
}
@keyframes astro {
  0% {
    background-position: 0 0;
  }
  12% {
    background-position: -800px 0;
  }
  24% {
    background-position: -1600px 0;
  }
  36% {
    background-position: 0 -800px;
  }
  48% {
    background-position: -800px -800px;
  }
  60% {
    background-position: -1600px -800px;
  }
  72% {
    background-position: 0 -1600px;
  }
  84% {
    background-position: -800px -1600px;
  }
  96% {
    background-position: -1600px -1600px;
  }
}
