body {
  background-color: #212121;
}
body {
  width: 1920px;
  height: 5658px;
  /* background-image: url(../images/1920px.svg); */
  opacity: 0.5;
}
/* .flex-box-1 {
  background-color: aqua;
} */
/* .flex-box-1-2 {
  background-color: blueviolet;
} */
/* .flex-box-1-3 {
  background-color: blue;
} */
